<header class="site-header {store.sider.isOpen ? (' isMenuOpen', '')}" style="background:{bgColor};">
  <ul class="site-nav">
    <#each {store.sider.menuData}>
      <li key={@index} class="{store.header.current == @index ? 'cur'}" onClick={navChanged(@index)}>{name}</li>
    </#each>
  </ul>
  <div class="login-wrap middle">
    <!-- <a class="link">{store.common.('userInfo').('pin')}</a> -->
    <!-- <a class="avatar"><img src="{headerPic}" :alt="''"></a> -->
    <a class="icon-link"><ant-Icon type="bell" /></a>
    <a class="icon-link"><ant-Icon type="message" /></a>
    <a class="icon-link" onClick={showSetting}><ant-Icon type="setting" /></a>
  </div>
</header>
