@charset "UTF-8";

// Color
// ------------------------------------------------------------

$color-main: #b6a57d;  // 主色
$color-active: #b6a57d; // 高亮
$color-hover: #b6a57d;  // 鼠标经过
$color-down: #b6a57d;  // 鼠标按下
$color-line: #f0ebe9;
$color-light-red: #f0ebe9;

$gray-0: #000;
$gray-3: #333;
$gray-6: #666;
$gray-9: #999;
$gray-dc: #dcdcdc;
$gray-c9: #c9c9c9;
$gray-f4: #f4f4f4;
$gray-f8: #f8f8f8;
$gray-disable: #dcdcdc;

$color-link: #a71930; // 超链接文字
