@charset "UTF-8";

// Color
// ------------------------------------------------------------
/*
* sider colors
*/
// dark-theme-1
// $color-logo-bg: #32323a;
// $color-menu-tit-normal: #32323a;
// $color-menu-tit-hover: #29292E;
// $color-expanded: #29292E;
// $color-expanded-active: #212125;

// dark-theme-2
// $color-logo-bg: #3D4354;
// $color-menu-tit-normal: #3D4354;
// $color-menu-tit-hover: #29292E;
// $color-expanded: #333848;
// $color-expanded-active: #29292E;

// dark-theme-3
$color-logo-bg: #262A31;
$color-menu-tit-normal: #262A31;
$color-menu-tit-hover: #29292E;
$color-expanded: #1f1f21;
$color-expanded-active: #000;

// white-theme
$color-white-logo-bg: #3D4354;

// ------------------------------------------------------------
/*
* Page Dark Theme
*/
$color-pageWrap-bg: #393E45;
$color-wrapMod-bg: #262A31;
$color-pageText: #757e8a;

// ------------------------------------------------------------

$color-main: #b6a57d;  // 主色
$color-active: #b6a57d; // 高亮
$color-hover: #b6a57d;  // 鼠标经过
$color-down: #b6a57d;  // 鼠标按下
$color-line: #f0ebe9;
$color-light-red: #f0ebe9;

$gray-0: #000;
$gray-3: #333;
$gray-6: #666;
$gray-9: #999;
$gray-dc: #dcdcdc;
$gray-c9: #c9c9c9;
$gray-f4: #f4f4f4;
$gray-f8: #f8f8f8;
$gray-disable: #dcdcdc;

$color-link: #a71930; // 超链接文字
