@import 'muss/muss';
@import 'variables';
// @import 'override-antd';
@import 'common';
@import 'wee/wee';

body {
    color:#333; background: #edf1f5;
    -webkit-appearance: none;
    -webkit-font-smoothing:auto;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
body,
html {
  min-width: 1280px;
}

#page-wrap{transition:all .5s ease-out;}
.isMenuOpen{padding-left:200px;}

.zk-chart-wrap {
  .fj-area-chart-area {
    background: none;
  }
}
