@import '../../css/variables';

.formExample {
  padding: 20px 100px 40px 30px;

  h2 {
    margin-bottom: 25px;
    font-size: 16px;
  }
}

.formEls {
  padding: 5px 80px 20px;
}

.btnArea {
  text-align: center;

  :global {
    .ant-btn {
      margin-right: 15px;
    }
    h2 {
      color:$color-pageText;
    }
  }
}
